<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scada.wpf.Properties.SetBaykon" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.Properties.SetInterface" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.Properties.SetGeneral" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.Properties.SetPLC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.CustomSettings.SetRepoting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Scada.wpf.Properties.plcSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="SecurityKey" value="esen" />
  </appSettings>
  <connectionStrings>
    <add name="esenScadaEntities" connectionString="metadata=res://*/EsenScadaDB.csdl|res://*/EsenScadaDB.ssdl|res://*/EsenScadaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Diper;persist security info=True;user id=sa;password=3553;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Scada.wpf.Properties.SetBaykon>
      <setting name="TEA99_IP" serializeAs="String">
        <value>192.168.5.100</value>
      </setting>
      <setting name="DMS_IP" serializeAs="String">
        <value>192.168.5.101</value>
      </setting>
      <setting name="TEA99_Port" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="DMS_Port" serializeAs="String">
        <value>502</value>
      </setting>
    </Scada.wpf.Properties.SetBaykon>
    <Scada.wpf.Properties.SetInterface>
      <setting name="SideBarSymbolic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreventWindowMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreventWindowResize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreventClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideIconOnTaskbar" serializeAs="String">
        <value>False</value>
      </setting>
    </Scada.wpf.Properties.SetInterface>
    <Scada.wpf.Properties.SetGeneral>
      <setting name="AutoReconnectToPLC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoReconnectPeriod" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AutoRecordWhenAppStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRecordPeriod" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="AppStartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
    </Scada.wpf.Properties.SetGeneral>
    <Scada.wpf.Properties.SetPLC>
      <setting name="Profinet_CpuRock" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Profinet_Slot" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Profinet_IP" serializeAs="String">
        <value>192.168.5.10</value>
      </setting>
      <setting name="Profinet_TimeOut" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Profinet_Interval" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Profinet_DeviceName" serializeAs="String">
        <value>Siemens S7 1200</value>
      </setting>
    </Scada.wpf.Properties.SetPLC>
    <Scada.wpf.CustomSettings.SetRepoting>
      <setting name="GroupByBatch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupByReactor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupByProcessName" serializeAs="String">
        <value>False</value>
      </setting>
    </Scada.wpf.CustomSettings.SetRepoting>
    <Scada.wpf.Properties.AppSettings>
      <setting name="SideBarSymbolic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>True</value>
      </setting>
    </Scada.wpf.Properties.AppSettings>
    <Scada.wpf.Properties.plcSettings>
      <setting name="Address" serializeAs="String">
        <value>192.168.2.10</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>502</value>
      </setting>
      <setting name="PlcModel" serializeAs="String">
        <value />
      </setting>
    </Scada.wpf.Properties.plcSettings>
  </userSettings>
</configuration>